.data-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}
h2{
    margin: 2rem;
}
.data{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}
